.navbar {
  background-color: aliceblue;
  color: black;
  padding: 1rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.btn {
  padding: 0.6rem 1rem;
  border-radius: 3rem;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #333;
  color: aliceblue;
}
